# This is a sample config file for the etl process

spark:
  appname: dataverse_etl_sample
  driver:
    memory: 16g
etl:
  - name: data_ingestion___red_pajama___hf2ufl
  - name: data_load___parquet___ufl2parquet
    args:
      save_path: ./sample/pajama_1G_ufl_1s.parquet
