# This is a sample config file for the etl process

spark:
  appname: dataverse_etl_sample
  driver:
    memory: 16g
etl:
  - name: data_ingestion___parquet___pq2ufl
    args:
      input_paths:
        - ./sample/sample_ufl.parquet
  - name: deduplication___minhash___lsh_jaccard
  - name: data_load___parquet___ufl2parquet
    args:
      save_path: ./sample/preprocess_ufl.parquet
