# This is a sample config file for the etl process

spark:
  appname: dataverse_etl_sample
  driver:
    memory: 16g
etl:
  - name: data_ingestion___test___generate_fake_ufl
  - name: utils___sampling___random
    args:
      sample_n_or_frac: 0.1
  - name: data_load___parquet___ufl2parquet
    args:
      save_path: ./sample/sample_ufl.parquet
